substitute "N=0"
include "ft245_pin.template"

substitute "N=1"
include "ft245_pin.template"

substitute "N=2"
include "ft245_pin.template"

substitute "N=3"
include "ft245_pin.template"

substitute "N=4"
include "ft245_pin.template"

substitute "N=5"
include "ft245_pin.template"

substitute "N=6"
include "ft245_pin.template"

substitute "N=7"
include "ft245_pin.template"

record(stringin, "$(D):SERIAL"){
    field(DESC, "Serial number of this FT245")
    field(DTYP, "asynOctetRead")
    field(INP, "@asyn($(PORT) 0 $(TIMEOUT))serialNumber")
}

record(stringin, "$(D):ID"){
    field(DESC, "Device ID of this FT245")
    field(DTYP, "asynOctetRead")
    field(INP, "@asyn($(PORT) 0 $(TIMEOUT))deviceID")
}

record(stringin, "$(D):MANUFACTURER"){
    field(DESC, "Device ID of this FT245")
    field(DTYP, "asynOctetRead")
    field(INP, "@asyn($(PORT) 0 $(TIMEOUT))manufacturer")
}

record(stringin, "$(D):DESCRIPTION"){
    field(DESC, "Description of this FT245")
    field(DTYP, "asynOctetRead")
    field(INP, "@asyn($(PORT) 0 $(TIMEOUT))deviceDescription")
}

record(stringin, "$(D):SWVER_RD_FTDI"){
    field(DESC, "libftdi version")
    field(DTYP, "asynOctetRead")
    field(INP, "@asyn($(PORT) 0 $(TIMEOUT))")
}

record(mbboDirect, "$(D):MODE_CMD_PINS"){
    field(DESC, "Pin direction setting")
    field(DTYP, "asynUInt32Digital")
    field(OUT, "@asynMask($(PORT) 0 255 $(TIMEOUT))pinDirection")
    field(NOBT, "8")
}

record(mbboDirect, "$(D):MODE_RCMD_PINS"){
    field(DESC, "Pin direction setting")
    field(DTYP, "asynUInt32Digital")
    field(OUT, "@asynMask($(PORT) 0 255 $(TIMEOUT))pinDirection")
    field(SCAN, "I/O Intr")
    field(NOBT, "8")
}

record(mbboDirect, "$(D):EN_CMD_PINS"){
    field(DESC, "Pin write")
    field(DTYP, "asynUInt32Digital")
    field(OUT, "@asynMask($(PORT) 0 255 $(TIMEOUT))pinSetting")
}

record(mbbiDirect, "$(D):EN_RCMD_PINS"){
    field(DESC, "Pins status")
    field(DTYP, "asynUInt32Digital")
    field(SCAN, "I/O Intr")
    field(INP, "@asynMask($(PORT) 0 255 $(TIMEOUT))pinSetting")
}

substitute "SIGNAL=0, PBUS=0, NBUS=1"
include "differential_pair.template"

substitute "SIGNAL=1, PBUS=2, NBUS=3"
include "differential_pair.template"