# does nothing if pin is an input
record(bo, "$(D):EN_CMD_PIN$(N)"){
    field(DESC, "GPIO pin $(N) Set")
    field(ZNAM, "Unset")
    field(ONAM, "Set")
    field(OUT, "$(D):EN_CMD_PINS.B$(N) PP")
    info(autosaveFields, "VAL")
}

#if pin is input, this is a sample. if it's an output, it's the driven status readback.
record(bi, "$(D):EN_RCMD_PIN$(N)"){
    field(DESC, "GPIO pin $(N) Set?")
    field(INP, "_$(D):EN_RCMD_PINS.B$(N) PP MS")
    field(ZNAM, "Disabled")
    field(ONAM, "Enabled")
}

record(bo, "$(D):MODE_CMD_PIN$(N)"){
    field(DESC, "GPIO pin $(N) direction")
    field(ZNAM, "Input")
    field(ONAM, "Output")
    field(VAL, "1")
    field(OUT, "$(D):MODE_CMD_PINS.B$(N) PP")
    info(autosaveFields, "VAL")
}

record(bi, "$(D):MODE_RCMD_PIN$(N)"){
    field(DESC, "GPIO pin $(N) Direction")
    field(INP, "$(D):MODE_RCMD_PINS.B$(N) PP MS")
    field(ZNAM, "Input")
    field(ONAM, "Output")
}

